/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*
 * Offset the content to be visible next to the side-nav
 */
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/*
 * Width adjustments because of side-nav
 */
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1093px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1193px) {
  .container {
    width: 70%;
  }
}

/*
 * Flex for sticky footer
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*
 * Cards
 */
.card-image {
  overflow: hidden;
  vertical-align: middle;
}

.card-image img {
    vertical-align: middle;
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}