/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*
 * Offset the content to be visible next to the side-nav
 */
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/*
 * Width adjustments because of side-nav
 */
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1093px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1193px) {
  .container {
    width: 70%;
  }
}

/*
 * Flex for sticky footer
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*
 * Image filters
 */
.blurred-soft {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.blurred-strong {
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
}

.greyscaled {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

.greyscaled-semi {
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
}

.animated {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

/*
 * Cards
 */
.card-image {
  overflow: hidden;
  vertical-align: middle;
}

.card-image img {
    vertical-align: middle;
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}