.rainbowJSON{
	font-size: 13px;
	line-height: 18px;
	font-family: 'Droid Sans Mono', 'DejaVu Sans', courier, monospace;
	margin-top: 10px;
}
.rainbowJSON > a{ color: #999; font-size: 12px; text-decoration: none; }
.rainbowJSON > a:hover{ color: #333; }

.requestURL, .formattedJSON{
	margin: 0px;
	padding: 10px;
	background: #F5FAFF;
	border: 3px solid #607D8B;
	color: #333;
	font-size: 13px;
}

.requestURL {
	background: #607D8B;
	color: #FFF;
}

.formattedJSON {
	border-left: 3px solid #607D8B;
}

pre.plainJSON{ 
	display: none; 
	max-width: 100%;
	word-wrap: break-word;
	margin: 10px 0 0 0;
	font-family: 'Droid Sans Mono', 'DejaVu Sans', courier, monospace;
}

.formattedJSON div div{ margin: 0 20px; }
.formattedJSON span.rainbowArray{ display: block; }
.formattedJSON span.rainbowArrayCollapsed { display: none; }

.formattedJSON .rainbowType{ color: #999; }
.formattedJSON .rainbowValue{ color: #777; }
.formattedJSON .rainbowValue.string{ color: #777; }
.formattedJSON .rainbowValue.boolean{ color: #777; }
.formattedJSON .rainbowValue.number{ color: #777; }
.formattedJSON .rainbowEmpty{ color: #ccc; }
.formattedJSON .rainbowEmpty:hover{ color: #777; }
.formattedJSON .rainbowToggle{ font-size: 15px; }

.formattedJSON a{ color: #999; text-decoration: none; }
.formattedJSON a:hover{ color: #444; }